
header{
    background-color: #000000;
    color:#ffffff;
    height: 115px;
  
  }
  
  header div {
    float: left;
    padding: 20px;
  }
  
  
  
  .imgContainer{
    display: inline-block;
    margin-left: 150px;
    text-align: center;
    width: 250px;
    height: 25px;
  }
  
  main div {
  padding-top: 2%;
  padding-left: 100px;
  }

  footer{
      background-color: darksalmon;
  }